<div class="jumbotron">
	<h1>Welcome to TwentyFive Tweets!</h1>
	<p>Look up a person's last 25 tweets</p>
	<% if !current_user %>
	<p><%= link_to "Login", login_path, :class => "btn btn-primary btn-lg" %> or <%= link_to "Sign Up", new_user_path, :class => "btn btn-primary btn-lg" %></p>
	<% end %>
	<% if current_user %>
<div><%= form_tag '/tweets' do %>
<%=text_field_tag 'twitter_handle', "twitter handle" %>

<%= submit_tag 'Search', :class => "btn btn-primary" %>
<% end %></div>
<% end %>
</div>

<% if current_user %>

<% @biebers.each do |tweet| %>

<b><%= "#{tweet.user.screen_name}:" %></b> <%= "#{tweet.text}" %>
<br>
<i><%= "#{tweet.created_at.strftime("%A %b %d, %G %r")} GMT" %></i>
<br>
<br>
<br>
<% end %>
<a href="/logout" class="btn btn-primary">Logout</a>
<% end %>
